<manifest
	xmlns:dist="http://schemas.android.com/apk/distribution"
	package="co.aresid.pass13.exclusivefeature"
	>
	
	<dist:module
		dist:instant="false"
		dist:title="@string/title_exclusivefeature"
		>
		<dist:delivery>
			<dist:on-demand/>
		</dist:delivery>
		<dist:fusing dist:include="false"/>
	</dist:module>
</manifest>